$header-height: 80px;
$header-padding: 40px;

$split-line-color: #eaeef4;

.header {
  display: flex;

  height: $header-height;
  padding: 0 $header-padding;
  border: 1px $split-line-color;
  border-style: none none solid none;

  background-color: #fff;
}

.logo {
  flex: 0 0 280px;
  line-height: $header-height;
  font-weight: bold;
  font-size: 34px;
  box-sizing: border-box;

  border: 1px $split-line-color;
  border-style: none solid none none;
}

.search-container {
  flex: 1 1 auto;
  input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 1em 0 2.7em;
    box-sizing: border-box;
    outline: none;
  }

  position: relative;
}

.search-icon {
  position: absolute;
  width: 1.3em;
  height: 1.3em;

  top: 0;
  bottom: 0;
  margin: auto;
  left: 1em;

  color: #515151;

  transition: color 2s cubic-bezier(0.215, 0.610, 0.355, 1);

  .search-container:hover & {
    color: #000;
  }
}

.nav-right {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: $header-height;
}

.nav-right-item {
  display: inline-block;
  padding: 0 1em;
  vertical-align: middle;
}

.mail {
  vertical-align: middle;
}