svg {
  width: 1.5em;
  height: 1.5em;
  color: #d1d8de;
  fill: currentColor;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

a:hover {
  color: inherit;
  background: linear-gradient(to right, tomato, orange);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-decoration: #d1d8de solid underline;
}

a:visited, a:active {
  color: inherit;
}